@import "tailwindcss";


/*  Color System */
:root {
  --color-text: #1C1D20;
  --gray-light: #999d9e;
  --font-neue-montreal: 'Neue Montreal', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-neue-montreal);
  line-height: 1.6;
  color: var(--color-text);
}