@import "tailwindcss";


/*  Color System */
:root {
  --color-text: #1C1D20;
  --gray-light: #999d9e;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Neue Montreal', -apple-system, BlinkMacSystemFont, 'Segue UI', 'Roboto', sans-serif; */
  line-height: 1.6;
  /* background-color: var(--color-text); */
  color: var(--color-text);
}